* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #E5E5E5;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.formulario{
	font-size: 16px;
	
	grid-template-columns: 1fr 1fr;
	gap:20px; 
}
.formulario__label{
	display: block;
	font-weight: 700;
	padding: 5px;
	cursor: pointer;
}

.formulario__grupo-input{
	position: relative;


}

.form-check-input{
	display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: .5rem;
    background-size: cover;
	font-size: 5px;
	margin-bottom: 5px ;
	text-align: center;
}

.formulario__input{
	width: 100%;
	background-color:#ebf3f0;
	border: 3px solid transparent;
	border-radius: 4px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus{
	border: 3px solid #0075ff;
	outline: none;
	box-shadow: 3px 0px 14px rgba(9,131,255,0.4);

}

.formulario__input-error{
	font-size: 12px;
	margin-bottom: 0px;
	display: none;

}

.formulario__input-error-activo{
	display: block;
}

.formulario__validacion-estado{
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__mensaje,
.formulario__grupo-btn-enviar{
	grid-column: span 2;
}

.formulario__mensaje{
	height: 45px;
	line-height: 45px;
	background: #f66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo{
	display: block;
}

.formulario__mensaje p{
	margin: 0;

}

.formulario__grupo-btn-enviar{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.formulario__grupo-btn{
	height: 50px;
	list-style: 50px;
	width: 30%;
	background-color: #052647;
	color: #E5E5E5;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: .1s ease all;
}


.formulario__btn:hover{
	box-shadow: 4px 0px 30px rbga(163,163,163,2);
	
}

.formulario__mensaje-exito{
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo{
	display: block;
}



/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}


