/*Fondo y letras*/
body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(7,1,65,1) 50%, rgba(14,14,14,1) 100%);
    font-family: sans-serif;
    font-size: 17px;
    color: rgb(0, 0, 0);
    
}

/*Formulario*/
form{
    border-radius: 20px;
    width: 30%;
    margin: auto;
    padding: 20px;
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0.95);
}

label{
    width: 100%;
    display: block;
}

/*Tama침o y control de los inputs*/
input{
    font-size: 13px;
    width: 100%;
    padding: 7px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(6, 0, 83);
    background: none;
    color: rgb(0, 0, 0);
}

/*Color del placeholder*/
::placeholder { color: rgb(85, 85, 85); }

/*Animaci칩n de los inputs*/
input[type=number], input[type=password]{
    padding-left: 0px;
}

input:focus{
    border-bottom: 1px solid #3161ff;
    transition: 0.3s;
}

input[type=submit]{
    margin-bottom: 0px;
    background-color: #000277;
    color: rgb(255, 255, 255);
    border: none;
}

input[type=submit]:hover{
    background-color: #000000; 
    transition: 0.3s;
    cursor: pointer;
}


/*Definir margen de la clase del formulario*/
.form-group{
    margin-bottom: 20px;
}

h2{
    text-align: center;
}

/*Configuraci칩n de la lista desplegable*/
.seleccion{
    text-align: left;
    font-size: 13px;
    width: 100%;
    margin-top: 8px;
    border: none;
    border-bottom: 1px solid rgb(6, 0, 83);
    background: none;
    color: rgb(0, 0, 0);
}

.img{
    text-align: center;
}

img{
    width: 40%;
}

/*bot칩n Enviar*/
#btn-enviar{
    border-radius: 10px;
    width: 50%;
    margin-left: 25%;
}
